@font-face {
    font-family: 'Assistant';
    src: url('./fonts/Assistant/Assistant-VariableFont_wght.ttf') format('truetype'),
         url('./fonts/Assistant/static/Assistant-Light.ttf') format('truetype'),
         url('./fonts/Assistant/static/Assistant-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Viana Script';
    src: url('./fonts/viana-script-1/Viana\ Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Swanky And Moomoo';
    src: url('./fonts/Swanky_and_Moo_Moo/SwankyandMooMoo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Ballet';
    src: url('./fonts/Ballet/Ballet-Regular-VariableFont_opsz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Fira Code';
    src: url('./fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }